<a href="https://colab.research.google.com/github/LucasPradoP/repo-aula-facul/blob/main/CNPJ_formatado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('/content/cnpjs_lala.xlsx')

In [ ]:
df.head()

             CNPJ   SETOR EQUIPE Regional Distrital Territorial
0  61585865000666  OD1A30  RDCHC   OD1000    OD1A00      OD1A30
1  61585865000828  OD1A30  RDCHC   OD1000    OD1A00      OD1A30
2  61585865001042  OD1A30  RDCHC   OD1000    OD1A00      OD1A30
3  61585865001123  OD1A30  RDCHC   OD1000    OD1A00      OD1A30
4  61585865001638  OD1A30  RDCHC   OD1000    OD1A00      OD1A30

In [ ]:
cnpjs = df["CNPJ"].values.tolist()
setor = df["SETOR"].values.tolist()

In [ ]:
obj = []
for x in range(len(df["CNPJ"])):
  obj.append({"cnpj": cnpjs[x], "setor": setor[x]})

In [ ]:
group = []
for x in range(len(obj)):
  if(obj[x]["setor"] == "OD1A30"):
    group.append({"cnpj": obj[x]["cnpj"]})

In [ ]:
group[1250:1300]

[{'cnpj': 61585865145044},
 {'cnpj': 61585865145125},
 {'cnpj': 61585865145206},
 {'cnpj': 61585865145397},
 {'cnpj': 61585865145478},
 {'cnpj': 61585865145630},
 {'cnpj': 61585865145710},
 {'cnpj': 61585865145800},
 {'cnpj': 61585865145982},
 {'cnpj': 61585865146016},
 {'cnpj': 61585865146105},
 {'cnpj': 61585865146369},
 {'cnpj': 61585865146440},
 {'cnpj': 61585865146601},
 {'cnpj': 61585865146792},
 {'cnpj': 61585865146873},
 {'cnpj': 61585865146954},
 {'cnpj': 61585865147098},
 {'cnpj': 61585865147179},
 {'cnpj': 61585865147330},
 {'cnpj': 61585865147411},
 {'cnpj': 61585865147500},
 {'cnpj': 61585865147683},
 {'cnpj': 61585865147764},
 {'cnpj': 61585865147845},
 {'cnpj': 61585865147926},
 {'cnpj': 61585865148060},
 {'cnpj': 61585865148140},
 {'cnpj': 61585865148221},
 {'cnpj': 61585865148302},
 {'cnpj': 61585865148574},
 {'cnpj': 61585865148655},
 {'cnpj': 61585865148736},
 {'cnpj': 61585865148817},
 {'cnpj': 61585865148906},
 {'cnpj': 61585865149031},
 {'cnpj': 61585865149112},
 {'cnpj': 61585865149201},
 {'cnpj': 61585865149384},
 {'cnpj': 61585865149465},
 {'cnpj': 61585865149546},
 {'cnpj': 61585865149627},
 {'cnpj': 61585865149708},
 {'cnpj': 61585865149899},
 {'cnpj': 61585865149970},
 {'cnpj': 61585865150048},
 {'cnpj': 61585865150129},
 {'cnpj': 61585865150200},
 {'cnpj': 61585865150390},
 {'cnpj': 61585865150552}]